@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Inter", sans-serif;
        line-height: 1.3;
        height: 100%;

        /* TODO: to decorate scrollbar*/
    }

    body {
        height: 100%;
    }
    a {
        @apply text-sky-500 hover:underline;
    }
    /* .active {
        @apply bg-neutral-600
    } */
}
